<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %><br>
    <%= form.text_field :name, autofocus: true, placeholder: 'Enter name here', required: true, class: "form-control" %>
  </div>

  <div class="actions" data-no-turbolink="true">
    <%= form.submit %>
  </div>
<% end %>
