<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <br/>
      <tr>
        <td><label><b>List Name:</b></label></td>
        <td><%= list.name %></td>
      </tr>
      <br/>
      <tr>
        <td><%= link_to 'Show', list %></td>
        <td><%= link_to 'Edit', edit_list_path(list) %></td>
        <td><%= link_to 'Soft Delete', soft_delete_list_path(list), method: :post, data: { turbolinks: false, confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Destroy', list, method: :delete, data: { turbolinks: false, confirm: 'Are you sure?' } %></td>
      </tr>
      <table>
        <tbody>
          <% list.items.each do |item| %>
            <tr>
              <td><label><b>Item Name:</b></label></td>
              <td><%= item.name %> </td>
            </tr>
            <tr>
              <td><%= link_to "Show Item", list_item_path(list, item) %></td>
              <td><%= link_to "Edit Item", edit_list_item_path(list, item) %></td>
              <td>
                <%= link_to "Soft Delete Item", soft_delete_list_item_path(list, item), method: :post, data: { turbolinks: false, confirm: 'Are you sure?' } %>
              </td>
              <td>
                <%= link_to "Destroy Item", list_item_path(list, item), method: :delete, data: { turbolinks: false, confirm: 'Are you sure?' } %>
              </td>
            <tr>
          <% end %>
          <%= link_to 'New List Item', new_list_item_path(list, list.items.build) %>
        </tbody>
      </table>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path %>
